input{
    background: none;
    border: none;
    border-bottom: 1px solid black;
}
.lastname{
    margin-left:100px;
}
.lastinput{
    margin-left: 50px;
}
@media screen and (min-width:1024px) {
    
     .about-section{
          padding-left: 50px  !important ;
          padding-right: 50px !important;
     }
     
}
@media screen and (min-width:1108px) {
   
     
     .about-section{
          padding-left: 60px  !important ;
          padding-right: 60px !important;
     }
     
}
@media screen and (min-width:1156px) {
   
     .about-section{
          padding-left: 68px  !important ;
          padding-right: 68px !important;
     }
     
}
@media screen and (min-width:1196px) {
    
     .about-section{
          padding-left: 75px  !important ;
          padding-right: 75px !important;
     }
     
}
@media screen and (min-width:1240px) {
  
     .about-section{
          padding-left: 82px  !important ;
          padding-right: 82px !important;
     }
     
}
@media screen and (min-width:1300px) {
    
     .about-section{
          padding-left: 92px  !important ;
          padding-right: 92px !important;
     }
     
}
@media screen and (min-width:1350px) {
  
     .about-section{
          padding-left: 100px  !important ;
          padding-right: 100px !important;
     }
     
}
@media screen and (min-width:1400px) {
    
     
     .about-section{
          padding-left: 109px  !important ;
          padding-right: 109px !important;
     }
     
}
@media screen and (min-width:1450px) {
   
     .about-section{
          padding-left: 120px  !important ;
          padding-right: 120px !important;
     }
     
}
@media screen and (min-width:1500px) {
  
     .about-section{
          padding-left: 125px  !important ;
          padding-right: 125px !important;
     }
     
}
@media screen and (min-width:1536px) {
    
     .about-section{
          padding-left: 230px  !important ;
          padding-right: 230px !important;
     }
     
}
@media screen and (min-width:1570px) {
    
     
     .about-section{
          padding-left: 240px  !important ;
          padding-right: 240px !important;
     }
     
}
@media screen and (min-width:1630px) {
  
     .about-section{
          padding-left: 250px  !important ;
          padding-right: 250px !important;
     }
     
}
@media screen and (min-width:1700px) {
  
     .about-section{
          padding-left: 260px  !important ;
          padding-right: 260px !important;
     }
     
}
@media screen and (min-width:1740px) {
    
     .about-section{
          padding-left: 270px  !important ;
          padding-right: 270px !important;
     }
     
}